<% provide(:title, 'Clock+ | Contact') %>
  <h4>Contact Details</h4>
    <small>Telephone: <a href="tel:020123456789">+02 0123456789</a></small><br />
    <small>Email: <a href="mailto:s3848409@student.rmit.edu.au">s3848409@student.rmit.edu.au</a></small>
    <br />
    <br />
    <br />
  <h4>Location</h4>
    <br />
    <li>RMIT Melbourne</li>
    <small>124 La Trobe St</small><br />
    <small>Melbourne VIC 3000</small><br />
    <small>Australia</small><br />
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12608.913384818865!2d144.9644196!3d-37.8081201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8a729628b77319df!2sRMIT%20University!5e0!3m2!1sen!2sau!4v1591964966658!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>