
<% provide(:title, 'Clock+ | Home') %>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-12">
            <h1>Clock+</h1>
            <p>Clock+ | by Monkolsophearith Prum | Pass Level | Tuesday Group</p>
        </div>

        <div class="col-sm-3 side-bar">
            <p><i class="fa fa-circle dot-green" aria-hidden="true"></i> Business time</p>
            <p><i class="fa fa-circle dot-yellow" aria-hidden="true"></i> Business overtime</p>
            <p><i class="fa fa-circle dot-red" aria-hidden="true"></i> Personal time</p>
            <p><i class="fa fa-moon-o" aria-hidden="true"></i> Sleeping time</p>
        </div>

        <div class="col-sm-6">
            <div class="">
            <%= Time.zone.now %>
            </div>
        </div>

        <div class="col-sm-3">
            <p>Color Theme</p>

            <%#=form_tag root_path, :method => 'get' do |f| %>
                <%#= f.check_box :theme, :class => "theme-chkbox" %>
                <%#= f.check_box :theme, :class => "theme-chkbox" %>
                <%#= f.check_box :theme, :class => "theme-chkbox" %>
            <%# end %>
            
        </div>
        
    </div>
</div>
